[Unit]
Description=Docker Registry Proxy
After=docker-registry.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill registry-proxy
ExecStartPre=-/usr/bin/docker rm registry-proxy
ExecStart=/usr/bin/docker run -d -p 443:443 -e REGISTRY_HOST=docker-registry -e REGISTRY_PORT=5000 -e SERVER_NAME=localhost -link docker-registry:docker-registry -v /root/.htpasswd:/etc/nginx/.htpasswd:ro -v /root/certs:/etc/nginx/ssl:ro magneticio/registry-proxy:0.1.0

[Install]
WantedBy=multi-user.target